/* ----------------------------------------------------- */
/* file: page-2.css
/*
/* info: styles the page 2 content
/* ----------------------------------------------------- */


/* -------------------------------------------------- */
/* Page 2
/* -------------------------------------------------- */

#page-2 {

  /* important to let container set max height of parent */
  height: 100%;

  display: grid;

  background-color: rgb(220, 165, 0);

}
