/* ----------------------------------------------------- */
/* file: page-3.css
/*
/* info: styles the page 3 content
/* ----------------------------------------------------- */


/* -------------------------------------------------- */
/* Page 3
/* -------------------------------------------------- */

#page-3 {

   /* important to let container set max height of parent */
  height: 100%;

  display: grid;

  background-color: rgb(121, 222, 213);

}
