/* ----------------------------------------------------- */
/* file: page-4.css
/*
/* info: styles the page 4 content
/* ----------------------------------------------------- */


/* -------------------------------------------------- */
/* Page 4
/* -------------------------------------------------- */

#page-4 {

   /* important to let container set max height of parent */
  height: 100%;

  display: grid;

  background-color: rgb(124, 231, 145);

}
