/* ----------------------------------------------------- */
/* file: main-body.css
/*
/* info: styles the main body
/* ----------------------------------------------------- */


/* ----------------------------------------------------- */
/* Main Body
/* ----------------------------------------------------- */

#main-body {

  width: 100%;
  height: 100%;

  /* important to handle inside layouts as max width & height */
  display: grid;
  grid: 1fr / 1fr;

}
