/* ----------------------------------------------------- */
/* file: page-1.css
/*
/* info: styles the page 1 content
/* ----------------------------------------------------- */


/* -------------------------------------------------- */
/* Page 1
/* -------------------------------------------------- */

#page-1 {

  /* important to let container set max height of parent */
  height: 100%;

  display: grid;

  background-color: rgb(240, 158, 158);

}

/* -------------------------------------------------- */
/* Img | Mini Son Goku
/* -------------------------------------------------- */

.img-mini-son-goku {

  /* mobile */
  height: 10em;

}

.img-son-goku {

  height: 10em;
}
