/* ----------------------------------------------------------- */
/* file: resp-pages.css
/*
/* info: styles responsive sets for pages
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/* Width 425px
/* ----------------------------------------------------------- */

@media (min-width: 425px) {


  /* ---------------------------------------------------------------- */
  /* Page Slide
  /* ---------------------------------------------------------------- */

  .page-slide {

    /* because of fixed header & header get smaller in height */
    margin-top: 5em;

  }

}

/* ----------------------------------------------------------- */
/* Width 600px
/* ----------------------------------------------------------- */

@media (min-width: 600px) {


  /* ---------------------------------------------------------------- */
  /* Main Content Container
  /* ---------------------------------------------------------------- */

  .main-content-container {

    width: 35em;

  }


}

/* ----------------------------------------------------------- */
/* Width 800px
/* ----------------------------------------------------------- */

@media (min-width: 800px) {


  /* ---------------------------------------------------------------- */
  /* Main Content Container
  /* ---------------------------------------------------------------- */

  .main-content-container {

    width: 45em;

  }


}
